body {
   
    background-image: url("../images/patas.jpg");
    backdrop-filter: blur(6px);
    
  }
  .contenedor{
    
    display: inline-block;
    padding:10px;
    box-sizing: border-box;
    
  }

  .form {
    width: 50%;
    max-width: 300px;
    
  }
  
  .form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
  

  
 